/* * {
    border: 1px solid red;
    outline: 1px solid red;
  } */

.crop_card {
  height: fit-content;
  border-radius: 10%;
  
  transition: all 0.2s ease-in-out;
  color:black;
  overflow: hidden;
  
  background-color: transparent;
  border: none;
  width: 15rem; 
  box-shadow: -3px 5px 12px 3px rgba(0,0,0,0.11);
  margin: 5rem;
  transition: all 0.2s ease-in-out;
  }
.card_conver:hover {
    background-color: #e9c46a;
    color:white;
    width: 17rem;
    height: 17rem;
    border-radius: 10%;
  }
  .titulo-miscultivos{
    margin-top: 25px;
    border-bottom: 2px solid #2c9131;
    width: 100%;
    box-sizing: border-box;
    
    }

  .cropcard-img-left{
    
    border-radius: 10%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .crop-card-body{
    margin: 0.3rem;
    text-align: center;
    justify-content: center;
  }