/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
/*Navbar*/
.navbar-brand {
  color: green;
}
.navbar-brand:hover {
  transform: translateY(-0px);
  color: #e9c46a;
}
.BotLink{
  font-family: Roboto, sans-serif;
  font-weight: 9;
  
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
  padding: 0;
  color: green;
}
.form-group label{
  font-family: Roboto, sans-serif;
  font-size: 15px;
}
.BotLink:hover{
  
  font-size: 160%;
 
  color: #e9c46a;
}
.btn-navbar {
  font-family: Roboto, sans-serif;
  font-weight: 3;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #237320 0%, #c1d230 68%);
  padding: 10px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 0ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

/* .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
} */

.modal{
  backdrop-filter: blur(3px);
}
.modal-body h6{
  background-color: blur;
}
.btn-navbar:hover {
  background: linear-gradient(90deg, #237320 0%, #c1d230 68%);
  color: #e9c46a;
  border: none;
}

.titulo h1 {
  font-size: 100px;
}
.titulo h1 span {
  color: #237320;
  font-weight: 900;
}
.img1 {
  width: 100%;
  height: auto;
}
.titulo2{
  font-size: 5rem;
}
.titulo2 span {
  color: #e9c46a;
  font-weight: 900;
}
.textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15%;
}

.textos p {
  word-wrap: break-word;
  font-size: 1.3rem;
}
.titulo1 span {
  color: #237320;
  font-weight: 900;
}

/* CARD*/
.card-container-landing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
.card-landing {
  overflow: hidden;
  min-height: 28rem;
  background-color: transparent;
  border: 2px solid #2c9131;
  width: 25rem;
  
  border-radius: 10%;
  margin: 1rem;
  transition: all 0.2s ease-in-out;
  max-height: 10rem;
}
.card-body-landing{
  width: fit-content;
  margin: 1rem;
}
.card-img-top-landing {
  border-radius: 10%;
  width: 100%;
  height: 15rem;
  object-fit: cover; /* Ajusta la imagen al tamaño sin deformarla */
  
}
.card-img-top-landing:hover {
  border-radius: 10%;
  width: 100%;
  height: 16rem;
  object-fit: cover; /* Ajusta la imagen al tamaño sin deformarla */
}
.card-title-landing{
  
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-text-landing{
  font-size: 1.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.faq-section {
  text-align: left;
  margin-top: 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

i {
  margin-right: 10px;
  color: #4caf50;
  cursor: pointer;
}

span {
  font-weight: bold;
}

p {
  margin: 10px 0;
}
.section3 p {
  font-size: small;
}

/* #efdab7  #d2e0d2*/



/*            */
#btnServices {
  font-family: Roboto, sans-serif;
  font-weight: 3;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #237320 0%, #c1d230 68%);
  padding: 10px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 0ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
#btnProfileService {
  background: none;
  color: green;
  font-size: 1.25rem;
}
