.navbar{
  border-bottom: 2px solid #2c9131;
  width: 100%;
  box-sizing: border-box;
  padding-top: 1px;

}

.btn , user{
    font-family: Roboto, sans-serif;
    font-weight: 3;
    font-size: 25px;
    color: #2c9131;
    background: transparent;
    padding: 10px 30px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 0ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }

  .btn:hover {
    font-family: Roboto, sans-serif;
    font-weight: 3;
    font-size: 25px;
    color: #e9c46a;
    background: transparent;
    padding: 10px 30px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 0ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }
  .user{
    color: #e9c46a;
  }

.textos{
  

}
.section1{
  
  width: 100%;
  max-width: 100%;
}

.card{
  
  width: 250px;
  height: 250px;
  border-radius: 10%;
  margin-top: 25px;
  border-width: 0px;
  
}

 .titulo-tec{
  color: #e9c46a;
  font-weight:200;

 }
 
  .titulo-servicios{
  margin-top: 25px;
  border-bottom: 2px solid #2c9131;
  width: 100%;
  box-sizing: border-box;
  
  }
  .card-servicios{
    font-size: 16px;
    position: relative;
    margin: auto;
    padding: 1em 2.5em 1em 2.5em;
    border: none;
    background: #e9c46a;
    font-weight: 900;
    font-size:1.2em;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    border-radius: 2em;
    
  }
  .img1{
    padding-left: 10%;
    border-radius: 10%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

 .card_conver {
  background-color: transparent;
  border: 2px solid #2c9131;
  width: 16rem;
  height: 16rem;
  border-radius: 10%;
}
.card-img-top {
  border-radius: 10%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
